.navbar_I {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}

    .navbar_I a {
        float: left;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

.dropdown_I {
    float: left;
    overflow: hidden;
}

    .dropdown_I .dropbtn_I {
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
    }

    .navbar_I a:hover, .dropdown_I:hover .dropbtn_I {
        background-color: red;
    }

.dropdown-content_I {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content_I a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

        .dropdown-content_I a:hover {
            background-color: #ddd;
        }

.dropdown_I:hover .dropdown-content_I {
    display: block;
}
